/*TIPOS DE SELECTORES*/
/*Universal*/
* {
	font-family: sans-serif;
}


/*Clase*/
.selectores {
	color: #2d2994;
}


/*ID*/
#id_selector {
	font-family: cursive;
}


/*Atributo*/
[selector5="True"] {
	font-size: 20px
}


/*Descendiente*/
.selectores b {
	color: red
}

.selectores span {
	color: orange
}




.box_properties {
	background-color: lime;
	padding: 20px;
	margin: 15px;
	border-radius: 40px;
}